
# Environment

Before you follow the instructions below, make sure that `@eccenca/gulp-tasks` is up to date.
You may do that by running `gulp doctor --self-check`.

If you are sure, you want to update your environment, you can follow these steps:

1.  Find out which node packages are installed globally

    npm ls -g --depth 0
    yarn global ls

2.  Update env

    # update nvmrc and node
    bash -c "echo "<%= node %>" > ~/.nvmrc"
    nvm install
    # install latest npm and yarn
    npm install --global npm@<%= npm %> yarn@<%= yarn %>

3.  Reinstall you installed with npm/yarn, for example:

    yarn global add gulp eslint ecc-license-checker
