<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1" />
    <meta charset="UTF-8" />
    <title>Component test</title>
</head>

<body>
<div class="container" id="react"></div>
</body>

</html>
